<div class="background" style="background-color: #131C39; height: 100vh;padding:100px;">

    <div class="container "   >
    
        <div class="row">
            <div class="col-lg-8 mx-auto border-3 border-warning">
    
                <img src="https://st4.depositphotos.com/13288286/26497/v/600/depositphotos_264973052-stock-illustration-404-error-light-flashlight-graphic.jpg" alt="" class="mx-auto w-100 " style="object-position: top right ;object-fit: cover; ">
            </div>
        </div>
    </div>
</div>
