<div class="container py-3 footer ">
  <hr>



  <div class=" text-center">
    <div class="d-flex flex-column  px-4">



      <div class="flx d-flex flex-wrap justify-content-center align-items-center">

        <a class="text-decoration-none m-2"  routerLink="/business">Business</a>
        <a class="text-decoration-none m-2"  routerLink="/headline"> Headline</a>


        <a class="text-decoration-none m-2"  routerLink="/auth/login">Login</a>
        <a class="text-decoration-none m-2"  routerLink="/auth/register">Register</a>
        <a class="text-decoration-none m-2"  routerLink="/readingList">Readlist</a>
    </div>


   




    <div class=" d-flex flex-column justify-content-between">
      <p class="card-text my-3">©Copyright - Newspaper by TagDiv</p>
      <div class="icon-wrapper mt-3">

        <i class="fa-brands fa-youtube me-5"  style="font-size: 24px;"></i>
        <i class="fa-brands fa-facebook-f me-5 "style="font-size: 24px;" ></i>
        <i class="fa-brands fa-twitter me-5"style="font-size: 24px;"></i>
        <i class="fa-brands fa-instagram"style="font-size: 24px;"></i>
      </div>

    </div>

  </div>
</div>