<div class="container py-5">
    <hr>
    <div class="card  bg-black">
        <div class="card-header ">
          <a class="navbar-brand" routerLink="/">
            <i class="fab fa-artstation "></i> NEWS  </a>    </div>
            
        <div class="card-body text-center">
          <div class="row pb-5">
            <div class="col-7">
          <p class="card-title">Home</p>
          <p class="card-title">Top Business</p>
          <p class="card-title">Top Headline</p>
            </div>
            <div class="col-4">
                 <p class="card-title">Login</p>
          <p class="card-title">Register</p>
          <p class="card-title">Readlist</p>
            </div>
    
          </div>
         
       
          
          <hr>
          <div class=" d-flex justify-content-between">
          <p class="card-text">©Copyright - Newspaper by TagDiv</p>
          <div>
          <i class="fa-brands fa-youtube me-5"></i>
          <!-- <i class="fa-brands fa-facebook-square"></i> -->
          <i class="fa-brands fa-facebook-f me-5"></i>
          <i class="fa-brands fa-twitter me-5"></i>
          <i class="fa-brands fa-instagram"></i>
          </div>
        </div>
        <div class="card-footer text-muted">
        
        </div>
      </div>
    </div>
    
