.searchCards .btnMore{
    border: 1px solid #000;
    padding: 10px 20px;
    background: #fcb900;
    color: #000;
    border-radius: 10px;
}

.searchCards .btnMore:hover{

    color: #fcb900;
    background: transparent;
    border: 1px solid #fcb900;
}
