<div class="text-center searchCards " >
    <div class="container">
      <div class="row my-5 py-5  align-items-center" >
        <div class="" *ngFor="let data of filteredData;let i =index" style="width:20rem">
          <div class="card bg-black" [style]="{ height:'410px',margin:'50px 0' }"  data="homeData">
           
              <div> 
                 <img [src]="data.urlToImage" class="img-fluid"  alt="..."  style="border-top-left-radius:10px;border-top-right-radius:10px ;height:200px;object-fit: cover;" />
                 
              </div>
              <div class="card-body text-white my-3 text-start">
                <h5 class="card-title" style="
                overflow:hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;">{{ data.author ||"Dummy Author"}}</h5>
                <p class="card-text" style="overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;">{{data.title}}</p>
                <p>{{data.publishedAt|date}}</p>
            
                <div class="button-wrapper d-flex align-items-center justify-content-around">
            
                  <button class="btn btn-warning btnMore"  (click)="showDetails(i)">Show details</button>
                  <button class="btn btn-warning btnMore" (click)="saveToRead(i)">SaveToRead</button>
                </div>
              
              </div>
            </div>
            
          </div>
        </div>
      </div>
  </div>