<div class="card  bg-black " style="width: 25rem;">
  <img [src]="topbusiness.urlToImage" class="card-img-top " alt="...">
  <div class="card-body ">
    <h5 class="card-title">{{ topbusiness.author }}</h5>
    <p class="card-text">{{topbusiness.title}}</p>
    <p>{{topbusiness.publishedAt|date}}</p>
    

    
    <div class="button-wrapper d-flex align-items-center justify-content-around">

      <button class="btn btn-warning"  (click)="showDetails(index)">Show details</button>
      <button class="btn btn-warning " (click)="saveToRead()">SaveToRead</button>
    </div>
  
  </div>
</div>

