<div class="card  bg-black " >
  <img [src]="topbusiness.urlToImage" class="card-img-top w-100 "  alt="..."  style="height:200px;
     border-top-left-radius:1rem;border-top-right-radius:1rem;object-fit: cover;" />
  <div class="card-body ">
    <h5 class="card-title">{{ topbusiness.author }}</h5>
    <p class="card-text" style=" overflow:hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;">{{topbusiness.title}}</p>
    <p>{{topbusiness.publishedAt|date}}</p>
    

    
    <div class="button-wrapper d-flex align-items-center justify-content-around">

      <button class="btn btn-warning"  (click)="showDetails(index)">Show details</button>
      <button class="btn btn-warning " (click)="saveToRead()">SaveToRead</button>
    </div>
  
  </div>
</div>

