h6{
    color: #fcb900;
    font-size: 15px;
}


p{
    color: aliceblue;
}

img{
    height: 28vh;
    border-radius: 15px 0 0 15px;
}

.card{
    border: 1px solid gray;
    border-radius: 15px;
}

