<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="overlay">
        <div class="container ">
          <div class="col-4" style="min-width: 400px;">
            <h6>NEWS</h6>
            <h2>The YouTuber who has become one of Gen Z’s most beloved celebrities</h2>
            <p>There are more than 1.4 million confirmed cases of coronavirus in 184
              countries and at least 85,000 people have died. More than half of all the
              confirmed cases have been in Europe, with Spain and Italy worst affected. However,
              the United States now has more than twice as many confirmed cases as any other single...</p>
            <br>
            <p>April 7, 2020 </p>
          </div>
        </div>
      </div>
      <img src="../../../assets/BG.jpg " alt="...">
    </div>

    <div class="carousel-item">
      <div class="overlay"></div>
      <img src="../../../assets/hero-bg-2.jpg" alt="...">
    </div>

    <div class="carousel-item">
      <div class="overlay"></div>
      <img src="../../../assets/hero-bg-3.jpg" alt="...">
    </div>
  </div>

  <div class="container">

  </div>



</div>