<div class="card bg-black  border" >
  <div> 
     <img [src]="headline.urlToImage ||  'https://placeholder.pics/svg/600'" class="card-img-top w-100 "  alt="..."  style="height:200px;
     border-top-left-radius:1rem;border-top-right-radius:1rem" />
  </div>
  <div class="card-body">
    <h5 class="card-title" >{{ headline.author }}</h5>
    <p class="card-text" style=" overflow:hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    ">{{headline.title}}</p> 
    <p>{{headline.publishedAt|date}}</p>

    <div class="button-wrapper d-flex align-items-center justify-content-around">

      <button class="btn btn-warning btn-sm rounded-3 px-3 text-white fw-bold" (click)="showDetails(index)">Details</button>
      <button class="btn btn-warning btn-sm rounded-3 px-2" (click)="saveToRead()"><i class="fa-solid fa-bookmark text-white"></i></button>
    </div>
  
  </div>
</div>

