<div class="container py-5">
    
        <div *ngIf="list.length;else second">
            <div class="row readingList justify-content-center py-5">

                <div class="col-lg-8  col-xs-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <!-- <th>#id</th> -->
                                <th>Author</th>
                                <th>Title</th>
                                <th>image</th>
                                
                                <th class="d-none d-lg-block d-xl-block">Content</th>
                                <th>Delete</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr class=" mb-3" *ngFor="let item of list; let i=index">


                                <!-- <td>{{i}}</td> -->
                                <td>
                                    <h5>{{item.content.author ||"Dummy Author" }}</h5>
                                </td>
                                <td style="text-overflow:ellipsis">
                                    <p>{{item.content.title}}</p>
                                </td>
                                <td >
                                    
                                    <div class="img-wrapper">

                                        <img  [src]="item.content.urlToImage" alt="" style="object-fit: cover ;cursor: pointer ; "
                                            class="rounded w-100" (click)="navigateToDetails(item.content,i)">
                                        <span class="flag rounded">{{item.content.category}}</span>
                                    </div>
                                </td>
                                <td  class="d-none d-lg-block d-xl-block" style=" overflow:hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;">
                                    {{item.content.content}}
                                </td>
                                <td>
                                    <i class="fa-solid fa-trash " (click)="deletFromList(i)"></i>
                                </td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <ng-template #second>
            <div class="row">
                <div class="col-lg-10 mx-auto "style="text-align:'center'; color:'orange'">
                    <span style="font-size: 100px">😯</span>
                    <h2>Your Reading List is Empty </h2>
                    <a  class="h2" routerLink="/home" style="text-decoration: none;color:'orange'">GOHOME</a>
                </div>
            </div>
        </ng-template>

   
</div>