

.readingList tr{
    color: white !important;
    text-align: center;

    max-height: 200px;
    width:100%;
}

.readingList th{
    text-align: center;

}

.readingList td{
   
    text-align: left;
    vertical-align: middle;
    padding: 20px 10px;
    height: 303px;
   
}

.readingList .img-wrapper{
    position: relative;
    width: 20vw;
    vertical-align: middle;
    height: 167px;

}

.readingList .img-wrapper img{
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(-50%);
    
}
.readingList .img-wrapper span{
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    color:orange;
    font-size: 20px;
    padding: 10px 20px;

}

.readingList p{
    display: flex;
    align-items: center;
}
.readingList p,h6{
    height: 245px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: break-spaces
    
    
}

.readingList i.fa-trash{
    color: orange;
    font-size: 3rem;
    transition: 0.3s all;
}
.readingList i.fa-trash:hover{
    color: rgb(184, 121, 4);
    cursor: pointer;
}


@media (max-width:768px){
    .readingList i.fa-trash{
        font-size: 2rem;
    }
}