

.readingList tr{
    color: white !important;
    text-align: center;
    max-height: 22rem;
   
}

.readingList th{
    text-align: center;

}

.readingList td{
   
    text-align: center;
    vertical-align: middle;
    padding: 20px 10px;
    
   
}







.readingList i.fa-trash{
    color: orange;
    font-size: 3rem;
    transition: 0.3s all;
}
.readingList i.fa-trash:hover{
    color: rgb(184, 121, 4);
    cursor: pointer;
}


@media (max-width:768px){
    .readingList i.fa-trash{
        font-size: 2rem;
    }
}