nav{
    opacity: 0.8;
}

hr.solid {
    border-top: 3px solid #bbb;
  }
  i{
    font-size: 40px;
    color:#ffa301;
  }

  .reading-link {
    position: relative;
  }
  .reading-link span{
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    font-size: 30px;
    transform: translate(-50%,-50%);
  }