<div class="card    " style="background-color: #2C3034">
  
  <img [src]="topbusiness.urlToImage || 'http://via.placeholder.com/640x360'" class="w-100  " alt="..." style="object-fit: cover;height: 200px; border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;">

  <div class="card-body mt-3">
    <h6 class="card-title">{{ topbusiness.author || "Dummy Author"}}</h6>
    <p class="card-text" style=" overflow:hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;">{{topbusiness.title}}</p>
    <p class="text-white-50"><em><small>{{topbusiness.publishedAt | date}}</small></em></p>
  </div>
</div>