
  <div class="card bg-black">
    <div class="card-body mt-3 pb-0" >
      <h6 class="card-title">{{ topbusiness.author  || "Dummy Author"}}</h6>
      <p class="card-text" style=" overflow:hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;">{{topbusiness.title}}</p>
      <div class="img-wrapper" style="margin:'0 -1rem'">

      <img [src]="topbusiness.urlToImage || 'https://placeholder.pics/svg/600'" class="w-100" alt="..." style="object-fit: cover;height: 200px; border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      " >
      </div>
    </div>

  
</div>