h6{
    color: #fcb900;
    font-size: 15px;
}


p{
    color: aliceblue;
}

img{
    height: 28vh;
    border-radius: 0px 15px 15px 0px;
}

.card{

    border: 1px solid gray;
    border-radius: 15px;
}

