/* You can add global styles to this file, and also import other style files */
body{
    background-color: black;
    scroll-behavior: smooth;
    
  }

 body::-webkit-scrollbar {
    display: none;
  }